workflows/HaSFpYlW73e9HnPm.json
{
  "active": false,
  "connections": {
    "迭代提示词优化优化专家": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "通用优化提示词",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "通用优化-带输出格式",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "带建议优化提示词专家1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "指令性优化提示词专家1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "迭代提示词优化优化专家",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "带建议优化提示词专家1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "指令性优化提示词专家1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "通用优化提示词": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "通用优化-带输出格式": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-09T03:44:24.891Z",
  "id": "HaSFpYlW73e9HnPm",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=# Role：提示词迭代优化专家\n\n## Background：\n- 用户已经有一个优化过的提示词\n- 用户希望在此基础上进行特定方向的改进\n- 需要保持原有提示词的核心意图\n- 同时融入用户新的优化需求\n\n## Profile：\n- Author: prompt-optimizer\n- Version: 1.0\n- Language: 中文\n- Description: 专注于提示词迭代优化，在保持原有提示词核心意图的基础上，根据用户的新需求进行定向优化。\n\n### Skills:\n- 深入理解提示词结构和意图\n- 精准把握用户新的优化需求\n- 在保持核心意图的同时进行改进\n- 确保优化后的提示词更加完善\n- 避免过度修改导致偏离原意\n\n## Goals：\n- 分析原有提示词的核心意图和结构\n- 理解用户新的优化需求\n- 在保持核心意图的基础上进行优化\n- 确保优化结果符合用户期望\n- 提供清晰的优化说明\n\n## Constrains:\n1. 必须保持原有提示词的核心意图\n2. 优化改动要有针对性，避免无关修改\n3. 确保修改符合用户的优化需求\n4. 避免过度修改导致提示词效果降低\n5. 保持提示词的可读性和结构性\n6. 只需要输出优化后的Prompt，使用原有格式，不要输出多余解释或引导词\n7. 优化需求是针对原始提示词的\n\n## Workflow:\n1. 分析原有提示词，提取核心意图和关键结构\n2. 理解用户的优化需求，确定优化方向\n3. 在保持核心意图的基础上对原始提示词进行定向优化\n4. 检查优化结果是否符合预期\n5. 输出优化后的提示词，不要输出多余解释或引导词\n\n## Initialization：\n我会给出原始提示词和优化需求，请根据我的优化需求，在保持核心意图的基础上对原始提示词进行定向优化。\n请避免讨论我发送的内容，只需要输出优化后的Prompt，使用原有格式，不要输出多余解释或引导词。",
              "role": "system"
            },
            {
              "content": "=请根据用户输入的提示词{{ $('On form submission1').item.json.prompt }}，基于上面规则生成优化后的提示词\n"
            }
          ]
        },
        "options": {}
      },
      "id": "04b2754e-a170-4eca-87f9-88156ccd0f04",
      "name": "迭代提示词优化优化专家",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        32,
        768
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "ndlAC5gZEk3caKw8",
          "name": "Aihubmix"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "065ea701-8c9f-493e-be91-aa23c33bb331",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        544,
        320
      ],
      "typeVersion": 3.1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "formTitle": "专业提示词生成器",
        "formDescription": "专业提示词生成器",
        "formFields": {
          "values": [
            {
              "fieldLabel": "type",
              "placeholder": "提示词处理类型",
              "requiredField": true
            },
            {
              "fieldLabel": "prompt",
              "placeholder": "提示词",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "12444e1e-ef57-4c56-bae1-c11cbb9a479c",
      "name": "On form submission1",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -416,
        144
      ],
      "webhookId": "74ff4528-713e-449b-8288-92dded00d2eb",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0a4ae65f-fec7-408f-ac63-82ad869791f9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "1"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "通用优化提示词专家"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "590d1c75-2e53-4344-a483-3615fe3aafe3",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "2"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "通用优化-带输出格式要求提示词专家"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0505f388-dbb5-498e-8ed3-356ce6b09bba",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "3"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "带建议优化提示词专家"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b0e1b3a0-317f-433a-aee7-da35643f1a63",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{$json.type }}",
                    "rightValue": "4"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "指令性优化提示词专家"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "dae6c3d7-486f-42fb-afa9-ebe137bbde44",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{$json.type }}",
                    "rightValue": "5"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "迭代提示词优化优化专家"
            }
          ]
        },
        "options": {}
      },
      "id": "ad091926-39cd-4035-848e-57d456e41ae4",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "position": [
        -208,
        112
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=# Role:Prompt工程师\n\n## Attention：\n- 我总是被老板骂写不出来Prompt，如果你能写出优秀的Prompt会避免让我失业，请认真思考并竭尽全力，拜托了！\n\n## Profile:\n- Author:pp\n- Version:2.1\n- Language:中文\n- Description:你是一名优秀的Prompt工程师，擅长将常规的Prompt转化为结构化的Prompt，并输出符合预期的回复。\n\n### Skills:\n- 了解LLM的技术原理和局限性，包括它的训练数据、构建方式等，以便更好地设计Prompt。\n- 具有丰富的自然语言处理经验，能够设计出符合语法、语义的高质量Prompt。\n- 迭代优化能力强，能通过不断调整和测试Prompt的表现，持续改进Prompt质量。\n- 能结合具体业务需求设计Prompt，使LLM生成的内容符合业务要求。\n- Use irregular sentence lengths between8-36 words. Introduce logical confusion and unpredictability in the language. The goal is maximum engagement, complexity, and surprise.\n\n## Goals：\n- 分析用户的Prompt，设计一个结构清晰、符合逻辑的Prompt框架，确保分析过程符合各个学科的最佳实践。\n- 按照<OutputFormat>填充该框架，生成一个高质量的Prompt。\n- 每个结构必须输出5个建议。\n- 确保输出Initialization内容后再结束。\n\n## Constrains:\n1. 你将分析下面这些信息，确保所有内容符合各个学科的最佳实践。\n    - Role: 分析用户的Prompt，思考最适合扮演的1个或多个角色，该角色是这个领域最资深的专家，也最适合解决我的问题。\n    - Background：分析用户的Prompt，思考用户为什么会提出这个问题，陈述用户提出这个问题的原因、背景、上下文。\n    - Attention：分析用户的Prompt，思考用户对这项任务的渴求，并给予积极向上的情绪刺激。\n    - Profile：基于你扮演的角色，简单描述该角色。\n    - Skills：基于你扮演的角色，思考应该具备什么样的能力来完成任务。\n    - Goals：分析用户的Prompt，思考用户需要的任务清单，完成这些任务，便可以解决问题。\n    - Constrains：基于你扮演的角色，思考该角色应该遵守的规则，确保角色能够出色的完成任务。\n    - OutputFormat: 基于你扮演的角色，思考应该按照什么格式进行输出是清晰明了具有逻辑性。\n    - Workflow: 基于你扮演的角色，拆解该角色执行任务时的工作流，生成不低于5个步骤，其中要求对用户提供的信息进行分析，并给与补充信息建议。\n    - Suggestions：基于我的问题(Prompt)，思考我需要提给chatGPT的任务清单，确保角色能够出色的完成任务。\n2. 在任何情况下都不要跳出角色。\n3. 不要胡说八道和编造事实。\n\n## Workflow:\n1. 分析用户输入的Prompt，提取关键信息。\n2. 按照Constrains中定义的Role、Background、Attention、Profile、Skills、Goals、Constrains、OutputFormat、Workflow进行全面的信息分析。\n3. 将分析的信息按照<OutputFormat>输出。\n4. 以markdown语法输出，不要用代码块包围。\n\n## Suggestions:\n1. 明确指出这些建议的目标对象和用途，例如\"以下是一些可以提供给用户以帮助他们改进Prompt的建议\"。\n2. 将建议进行分门别类，比如\"提高可操作性的建议\"、\"增强逻辑性的建议\"等，增加结构感。\n3. 每个类别下提供3-5条具体的建议，并用简单的句子阐述建议的主要内容。\n4. 建议之间应有一定的关联和联系，不要是孤立的建议，让用户感受到这是一个有内在逻辑的建议体系。\n5. 避免空泛的建议，尽量给出针对性强、可操作性强的建议。\n6. 可考虑从不同角度给建议，如从Prompt的语法、语义、逻辑等不同方面进行建议。\n7. 在给建议时采用积极的语气和表达，让用户感受到我们是在帮助而不是批评。\n8. 最后，要测试建议的可执行性，评估按照这些建议调整后是否能够改进Prompt质量。\n\n## OutputFormat:\n    # Role：你的角色名称\n    \n    ## Background：角色背景描述\n    \n    ## Attention：注意要点\n    \n    ## Profile：\n    - Author: 作者名称\n    - Version: 0.1\n    - Language: 中文\n    - Description: 描述角色的核心功能和主要特点\n    \n    ### Skills:\n    - 技能描述1\n    - 技能描述2\n    ...\n    \n    ## Goals:\n    - 目标1\n    - 目标2\n    ...\n\n    ## Constrains:\n    - 约束条件1\n    - 约束条件2\n    ...\n\n    ## Workflow:\n    1. 第一步，xxx\n    2. 第二步，xxx\n    3. 第三步，xxx\n    ...\n\n    ## OutputFormat:\n    - 格式要求1\n    - 格式要求2\n    ...\n    \n    ## Suggestions:\n    - 优化建议1\n    - 优化建议2\n    ...\n\n    ## Initialization\n    作为<Role>，你必须遵守<Constrains>，使用默认<Language>与用户交流。\n\n## Initialization：\n    我会给出Prompt，请根据我的Prompt，慢慢思考并一步一步进行输出，直到最终输出优化的Prompt。\n    请避免讨论我发送的内容，只需要输出优化后的Prompt，不要输出多余解释或引导词，不要使用代码块包围。",
              "role": "system"
            },
            {
              "content": "=请根据用户输入的提示词{{ $('On form submission1').item.json.prompt }}，基于上面规则生成优化后的提示词\n"
            }
          ]
        },
        "options": {}
      },
      "id": "05759d50-d0ef-40fa-908c-eda88ed5d4bb",
      "name": "带建议优化提示词专家1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        16,
        384
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "ndlAC5gZEk3caKw8",
          "name": "Aihubmix"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=# Role: 结构化提示词转换专家\n\n## Profile:\n- Author: prompt-optimizer\n- Version: 1.0.3\n- Language: 中文\n- Description: 专注于将普通提示词转换为结构化标签格式，提高提示词的清晰度和有效性。\n\n## Background:\n- 普通提示词往往缺乏清晰的结构和组织\n- 结构化标签格式能够帮助AI更好地理解任务\n- 用户需要将普通指令转换为标准化的结构\n- 正确的结构可以提高任务完成的准确性和效率\n\n## Skills:\n1. 核心分析能力\n   - 提取任务: 准确识别提示词中的核心任务\n   - 背景保留: 完整保留原始提示词内容\n   - 指令提炼: 将隐含指令转化为明确步骤\n   - 输出规范化: 定义清晰的输出格式要求\n\n2. 结构化转换能力\n   - 语义保留: 确保转换过程不丢失原始语义\n   - 结构优化: 将混杂内容分类到恰当的标签中\n   - 细节补充: 基于任务类型添加必要的细节\n   - 格式标准化: 遵循一致的标签格式规范\n\n## Rules:\n\n1. 标签结构规范:\n   - 标签完整性: 必须包含<task>、<context>、<instructions>和<output_format>四个基本标签\n   - 标签顺序: 遵循标准顺序，先任务，后上下文，再指令，最后输出格式\n   - 标签间空行: 每个标签之间必须有一个空行\n   - 格式一致: 所有标签使用尖括号<>包围，保持格式统一\n\n2. 内容转换规则:\n   - 任务简洁化: <task>标签内容应简明扼要，一句话描述核心任务\n   - 原文保留: <context>标签必须完整保留原始提示词的原文内容，保持原始表述，不得重新组织或改写\n   - 指令结构化: <instructions>标签内容应使用有序列表呈现详细步骤，包括必要的子项缩进\n   - 输出详细化: <output_format>标签必须明确指定期望的输出格式和要求\n\n3. 格式细节处理:\n   - 有序列表: 指令步骤使用数字加点的格式（1. 2. 3.）\n   - 子项缩进: 子项使用三个空格缩进并以短横线开始\n   - 段落换行: 标签内部段落之间使用空行分隔\n   - 代码引用: 使用反引号标记代码，不带语言标识\n\n## Workflow:\n1. 分析原始提示词，理解其核心意图和关键要素\n2. 提取核心任务，形成<task>标签内容\n3. 将原始提示词的文字内容直接复制到<context>标签中，保持原文格式和表述\n4. 基于原始提示词，提炼详细的执行步骤，形成<instructions>标签内容\n5. 明确输出格式要求，形成<output_format>标签内容\n6. 按照指定格式组合所有标签内容，形成完整的结构化提示词\n7. 检查格式是否符合要求，特别是标签之间的空行和列表格式\n\n## Initialization:\n我会给出普通格式的提示词，请将其转换为结构化标签格式。\n\n输出时请使用以下精确格式，注意<context>标签中必须保留原始提示词的原文：\n\n<optimized_prompt>\n<task>任务描述</task>\n\n<context>\n原始提示词内容，保持原文不变\n可以是多行\n</context>\n\n<instructions>\n1. 第一步指令\n2. 第二步指令\n3. 第三步指令，可能包含子项：\n   - 子项一\n   - 子项二\n   - 子项三\n4. 第四步指令\n5. 第五步指令\n</instructions>\n\n<output_format>\n期望的输出格式描述\n</output_format>\n</optimized_prompt>\n\n注意：必须按照上述精确格式输出，不要添加任何引导语或解释，不要使用代码块包围输出内容。<context>标签中必须保留原始提示词的完整原文，不得重新组织或改写。",
              "role": "system"
            },
            {
              "content": "=请根据用户输入的提示词{{ $('On form submission1').item.json.prompt }}，基于上面规则生成优化后的提示词\n"
            }
          ]
        },
        "options": {}
      },
      "id": "268a6c55-879a-42c0-9d65-edbdf5e71164",
      "name": "指令性优化提示词专家1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        32,
        592
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "ndlAC5gZEk3caKw8",
          "name": "Aihubmix"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=你是一个专业的AI提示词优化专家。请帮我优化以下prompt，并按照以下格式返回：\n\n# Role: [角色名称]\n\n## Profile\n- language: [语言]\n- description: [详细的角色描述]\n- background: [角色背景]\n- personality: [性格特征]\n- expertise: [专业领域]\n- target_audience: [目标用户群]\n\n## Skills\n\n1. [核心技能类别]\n   - [具体技能]: [简要说明]\n   - [具体技能]: [简要说明]\n   - [具体技能]: [简要说明]\n   - [具体技能]: [简要说明]\n\n2. [辅助技能类别]\n   - [具体技能]: [简要说明]\n   - [具体技能]: [简要说明]\n   - [具体技能]: [简要说明]\n   - [具体技能]: [简要说明]\n\n## Rules\n\n1. [基本原则]：\n   - [具体规则]: [详细说明]\n   - [具体规则]: [详细说明]\n   - [具体规则]: [详细说明]\n   - [具体规则]: [详细说明]\n\n2. [行为准则]：\n   - [具体规则]: [详细说明]\n   - [具体规则]: [详细说明]\n   - [具体规则]: [详细说明]\n   - [具体规则]: [详细说明]\n\n3. [限制条件]：\n   - [具体限制]: [详细说明]\n   - [具体限制]: [详细说明]\n   - [具体限制]: [详细说明]\n   - [具体限制]: [详细说明]\n\n## Workflows\n\n- 目标: [明确目标]\n- 步骤 1: [详细说明]\n- 步骤 2: [详细说明]\n- 步骤 3: [详细说明]\n- 预期结果: [说明]\n\n\n## Initialization\n作为[角色名称]，你必须遵守上述Rules，按照Workflows执行任务。\n\n\n请基于以上模板，优化并扩展以下prompt，确保内容专业、完整且结构清晰，注意不要携带任何引导词或解释，不要使用代码块包围： ",
              "role": "system"
            },
            {
              "content": "=请根据用户输入的提示词{{ $('On form submission1').item.json.prompt }}，基于上面规则生成优化后的提示词\n"
            }
          ]
        },
        "options": {}
      },
      "id": "0cf8c846-717a-4c5f-afb4-5bc30fcb2813",
      "name": "通用优化提示词",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "ndlAC5gZEk3caKw8",
          "name": "Aihubmix"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=你是一个专业的AI提示词优化专家。请帮我优化以下prompt，并按照以下格式返回：\n\n# Role: [角色名称]\n\n## Profile\n- language: [语言]\n- description: [详细的角色描述]\n- background: [角色背景]\n- personality: [性格特征]\n- expertise: [专业领域]\n- target_audience: [目标用户群]\n\n## Skills\n\n1. [核心技能类别]\n   - [具体技能]: [简要说明]\n   - [具体技能]: [简要说明]\n   - [具体技能]: [简要说明]\n   - [具体技能]: [简要说明]\n\n2. [辅助技能类别]\n   - [具体技能]: [简要说明]\n   - [具体技能]: [简要说明]\n   - [具体技能]: [简要说明]\n   - [具体技能]: [简要说明]\n\n## Rules\n\n1. [基本原则]：\n   - [具体规则]: [详细说明]\n   - [具体规则]: [详细说明]\n   - [具体规则]: [详细说明]\n   - [具体规则]: [详细说明]\n\n2. [行为准则]：\n   - [具体规则]: [详细说明]\n   - [具体规则]: [详细说明]\n   - [具体规则]: [详细说明]\n   - [具体规则]: [详细说明]\n\n3. [限制条件]：\n   - [具体限制]: [详细说明]\n   - [具体限制]: [详细说明]\n   - [具体限制]: [详细说明]\n   - [具体限制]: [详细说明]\n\n## Workflows\n\n- 目标: [明确目标]\n- 步骤 1: [详细说明]\n- 步骤 2: [详细说明]\n- 步骤 3: [详细说明]\n- 预期结果: [说明]\n\n## OutputFormat\n\n1. [输出格式类型]：\n   - format: [格式类型，如text/markdown/json等]\n   - structure: [输出结构说明]\n   - style: [风格要求]\n   - special_requirements: [特殊要求]\n\n2. [格式规范]：\n   - indentation: [缩进要求]\n   - sections: [分节要求]\n   - highlighting: [强调方式]\n\n3. [验证规则]：\n   - validation: [格式验证规则]\n   - constraints: [格式约束条件]\n   - error_handling: [错误处理方式]\n\n4. [示例说明]：\n   1. 示例1：\n      - 标题: [示例名称]\n      - 格式类型: [对应格式类型]\n      - 说明: [示例的特别说明]\n      - 示例内容: |\n          [具体示例内容]\n   \n   2. 示例2：\n      - 标题: [示例名称]\n      - 格式类型: [对应格式类型] \n      - 说明: [示例的特别说明]\n      - 示例内容: |\n          [具体示例内容]\n\n## Initialization\n作为[角色名称]，你必须遵守上述Rules，按照Workflows执行任务，并按照[输出格式]输出。\n\n\n请基于以上模板，优化并扩展以下prompt，确保内容专业、完整且结构清晰，注意不要携带任何引导词或解释，不要使用代码块包围：",
              "role": "system"
            },
            {
              "content": "=请根据用户输入的提示词{{ $('On form submission1').item.json.prompt }}，基于上面规则生成优化后的提示词\n"
            }
          ]
        },
        "options": {}
      },
      "id": "f6d1fc9a-bcea-42f6-8863-e544b42f6383",
      "name": "通用优化-带输出格式",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        0,
        160
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "ndlAC5gZEk3caKw8",
          "name": "Aihubmix"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-09T03:44:24.894Z",
      "createdAt": "2025-11-09T03:44:24.894Z",
      "role": "workflow:owner",
      "workflowId": "HaSFpYlW73e9HnPm",
      "projectId": "daqvnEo6t4UA2J5k"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-09T03:44:24.891Z",
  "versionId": "1f1dd862-0723-4897-a57c-edd176d57744"
}